body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#id_results {
  height: 5em;
  width: 10em;
}

.class_about {
  border: 3px solid black;
  border-radius: 1em;
  width: 66.67%;
  padding: 1em;
}

.class_endpoints {
  border: 3px solid green;
  border-radius: 1em;
  width: 66.67%;
  padding: 1em;
}

.button_fetch {
  background-color: green;
}
